/* Orbital Federates Font */
@font-face {
    font-family: Aero;
    src: url("../fonts/Aero.ttf");
}
.aero {
    font-family: 'Aero';
}

/* Result JSON Code Font */
.audiowide {
    font-family: 'Audiowide', cursive;
}

/* text color without focus, used for inputted text */
.input-field textarea[type=text] {
  color: #311b92;
  border-color: #311b92;
}
/* label color */
.input-field label {
    color: #311b92;
}
/* label focus color */
.input-field textarea[type=text]:focus + label {
    color: #311b92;
}
/* label underline focus color */
.input-field textarea[type=text]:focus {
    border-bottom: 1px solid #311b92;
    box-shadow: 0 1px 0 0 #311b92;
}
/* valid color */
.input-field textarea[type=text].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field textarea[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #311b92;
}
/* preloader color */
.progress {
    background-color: #d1c4e9;
}

.progress .indeterminate {
    background-color: #311b92;
}