.audiowide {
    font-family: 'Audiowide', cursive;
}

.input-field :first-child:focus+label {
    color: #311b92 !important;
}

.input-field :first-child:focus {
    border-color: #311b92 !important;
    box-shadow: 0 1px 0 0 #311b92 !important;
}